@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* #5644c7 */
* {
	--background-colour: #4a3ba7;
	--card-colour: #5644c7;
	--accent-colour: #ee3fa4;
	--font-colour: white;
	--button-font-color: white;
}

/*  */
/*  */
/* Global styles */
/*  */
/*  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
*::selection {
	color: hsl(325, 84%, 50%);
	background: #ffb86c;
}

h3 {
	font-weight: bold;
}

p {
	font-weight: bold;
}

body {
	background-color: var(--background-colour);
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.disclosure-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.disclosure-blur {
	position: absolute;
	display: flex;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	z-index: 55;
}

.disclosure-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	justify-content: center;
	background-color: var(--card-colour);
	color: var(--font-colour);
	border-radius: 5px;
	height: 60vh;
	width: 80vw;
	z-index: 101;
}

.disclosure-text p {
	padding: 0.5rem;
}

.disclosure-text a {
	text-decoration: none;
	font-size: 24px;
	color: var(--accent-colour);
	font-weight: bold;
	padding-bottom: 1rem;
}

.disclosure-text button {
	height: 50px;
}

.disclosure-text button {
	width: 80%;
}

.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*  */
/*  */
/* Overall card styles */
/*  */
/*  */

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--card-colour);
	color: var(--font-colour);
	width: 307px;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	transition: ease 250ms;
	margin: 1rem;
}

/*  */
/*  */
/* Stats card styling */
/*  */
/*  */

.stats-card {
	color: var(--font-colour);
	width: 307px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
	height: 12rem;
}

.stats-card h1 {
	font-size: 30px;
}

.stats-card h4 {
	font-size: 16px;
}

.stats-header {
	padding-bottom: 1rem;
}

#all-clear {
	padding-top: 1rem;
	font-size: 12px;
}

#standards-consumed {
	font-size: 12px;
}

span {
	vertical-align: middle;
	font-size: inherit;
	color: var(--accent-colour);
}

/*  */
/*  */
/* Input card styling */
/*  */
/*  */

.input-card {
	position: relative;
	/* align-items: center; */
	/* justify-content: center; */
	color: var(--font-colour);
	background-color: var(--card-colour);
	height: 12rem;
}

.standards-estimator-content {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 15px;
	height: 90%;
}

#add-drink-title {
	/* position: absolute;
	top: 10%;
	left: 10%; */
	margin-bottom: 0.2rem;
	transition: ease 250ms;
}

#add-drink-title.shrunk {
	font-size: 12px;
}

#standards-estimator-standards-subtitle {
	font-size: 12px;
}

.form {
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 5%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.title,
.standards-estimator {
	width: 100%;
}

.inputs {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

select {
	-webkit-appearance: none;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input,
select {
	background-color: #f8f8f2;
	padding: 0.5rem;
	width: 40%;
	margin-right: 0.5rem;
	border-radius: 5px;
	border-style: none;
	font-weight: bold;
	color: hsl(0, 4%, 0%);
}

input::placeholder {
	color: hsl(0, 4%, 0%);
	font-weight: bold;
}

#submit-drink {
	margin-top: 1rem;
	width: 50%;
}

/*  */
/*  */
/* Drink card styling */
/*  */
/*  */

.drink-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

#standards {
	position: absolute;
	width: 100%;
	left: 10%;
	top: 15%;
}

.times {
	position: absolute;
	font-size: 12px;
	top: 40%;
	left: 10%;
	height: 30%;
	width: 100%;
	display: flex;
	flex-grow: 0.5;
	flex-direction: column;
	justify-content: space-around;
}

.buttons {
	position: absolute;
	bottom: 10%;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

#progress {
	position: absolute;
	bottom: 10%;
	width: 70%;
	-webkit-appearance: none;
}

#progress::-webkit-progress-bar {
	border-style: none;
	height: 1rem;
	border-radius: 15px;
	background-color: #f8f8f2;
}

#progress::-webkit-progress-value {
	border-style: none;
	height: 1rem;
	border-radius: 15px;
	background-color: var(--accent-colour);
}

/*  */
/*  */
/* Overall button stylings */
/*  */
/*  */

button {
	background-color: var(--accent-colour);
	color: var(--button-font-color);
	text-align: center;
	width: 40%;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	transition: ease 100ms;
}

#small-delete-drink {
	position: absolute;
	top: 5%;
	right: 4%;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	transition: ease 150ms;
}

#small-delete-drink.delete-confirm {
	width: 5rem;
	border-radius: 5px;
}

button:active {
	transform: scale(0.9);
}
